.addButton {
  background-color: #f8f9fa !important;
  color: #11b5d7 !important;
  font-size: 20px !important;
  border: 1px solid #11b5d7;
}
.addButton:hover,
.addButton:focus {
  background-color: #11b5d7 !important;
  color: #f8f9fa !important;
}
.removeButton {
  font-size: 14px !important;
}
.removeButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.buttons button {
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 15px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.main {
  max-width: 80%;
  margin-bottom: 20px;
}
.img {
  text-align: center;
}
