form span {
  color: red;
  font-weight: bold;
}

form {
  max-width: 600px;
  margin: 30px auto;
  width: 100%;
}
.sendButton {
  width: 240px;
  border: 1px solid #11b5d7;
  margin: 20px auto !important;
  color: #11b5d7;
}
.label {
  color: #11b5d7;
}
.sendButton:hover {
  color: #11b5d7;
}
.sendButtonActive {
  width: 240px;
  border: 1px solid #11b5d7;
  margin: 20px auto !important;
  color: #11b5d7;
}
.sendButtonActive:hover {
  color: #fff;
  background-color: #d74a34;
  border: none;
  box-shadow: 2px 2px 2px grey;
}
