.inputModal {
  width: 100%;
}
.description {
  width: 100%;
  margin: 15px 0;
  border: 1px solid #ced4da;
  color: #495057;
  padding: 0.375rem 0.75rem;
}
.title {
  color: #17a2b8;
}
.saveBtn {
  background-color: #17a2b8;
  color: #fff;
}
.saveBtn:hover,
.saveBtn:focus {
  background-color: #17a2b8;
  color: #fff;
}
.cancelBtn {
  border: 1px solid #17a2b8;
  border-radius: 0.25rem;
  color: #a59da5;
}
.cancelBtn:hover,
.cancelBtn:focus {
  color: #a59da5;
}
