.logo {
  max-width: 60px;
  max-height: 60px;
}
.activePage {
  font-weight: bold;
  text-decoration: none !important;
}
.menuLinks {
  color: #11b5d7;
  margin: 0 15px;
  font-size: 20px;
}
.menuLinks:hover {
  text-decoration: none;
  color: #11b5d7;
}
.menu {
  box-shadow: 0 2px 10px #d6c8ad;
}
