.task {
  font-size: 20px;
  display: flex;
  word-break: break-all;
  padding: 5px;
  color: #fff;
}
.card {
  background-color: #e090b9 !important;
  margin: 20px auto;
}
.selected {
  border: 2px solid #fff !important;
}
.title a {
  font-size: 24px !important;
  color: #061036 !important;

  text-decoration: none;
}
.title {
  text-align: center;
}
.date {
  font-size: 12px !important;
  color: #061036;
}
.deadline {
  font-size: 12px !important;
  color: #061036;
  font-weight: bold;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons button {
  margin: 0 10px;
}
.status {
  color: #fff;
}
