.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
  margin-right: 10px;
}
.nav input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.navbar {
  padding: 0;
  margin-bottom: 15px;
}
.label {
  color: #d5a465;
}
.label:focus {
  border: 1px solid #d5a465 !important;
  outline: none;
}
.options {
  color: #d5a465;
}
.options:hover {
  color: #d5a465;
}
.sortNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 15px;
  max-width: 300px;
}
.sortFilter {
  font-size: 20px;
  font-weight: bold;
  color: #d5a465;
}
.searchBtn {
  display: flex;
  margin: 0;
}
.search {
  margin-top: 15px;
}
.formButton {
  margin-left: 15px;
  margin-top: 10px;
  background-color: #d5a465;
  color: #fff;
}
.formButton:hover {
  color: #d5a465;
  border: 1px solid #d5a465;
  background-color: transparent;
}
.formControl {
  margin-top: 10px;
}
