body {
  background-color: #f8f9fa !important;
  height: 100vh;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.close {
  color: #0f6d89 !important;
  opacity: 1;
}
.close:hover {
  color: #0f6d89 !important;
  opacity: 1;
}
